params {
    images = [
        ubuntu:                     'ubuntu:22.04',
        percolator:                 'quay.io/protio/percolator:3.06',
        panorama_client:            'quay.io/protio/panorama-client:1.1.0',
        msconvert:                  'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.22335-b595b19',
        magnum:                     'quay.io/protio/magnum:1.6.2',
        magnum_to_limelight:        'mriffle/magnum-percolator-to-limelight:4.4.0',
        limelight_submit:           'quay.io/protio/limelight-submit-import:4.0.1',
        combine_percolator_input:   'quay.io/protio/combine-percolator-input-files:1.0.0'
    ]
}
