params {

    // The path to the directory containing the raw or mzML files to be processed.
    spectra_dir     = '/path/to/spectra'

    // The path to the FASTA file to be used in the database search.
    fasta        = '/path/to/file.fasta'

    // The path to the Magnum configuration file to be used in the Magnum search.
    magnum_conf = 'Magnum.conf'

    // Set to true to run Percolator and Limelight upload separately for each input file.
    // If false, results are combined before running Percolator and uploading to Limelight.
    process_separately = false

    // Set to true to upload the results to a Limelight instance.
    limelight_upload = false

    // The following parameters are only used if limelight_upload is true.

    // The project ID in Limelight to which the results will be uploaded.
    limelight_project_id         = 7

    // A one-line description of the search that will appear in Limelight.
    limelight_search_description = 'test upload search'

    // A very brief one-word nickname for this search. Used in plots to label data.
    // This is ignored if process_separately is true.
    limelight_search_short_name  = 'tus'

    // A comma-delimited list of tags to associate with the search in Limelight.
    limelight_tags               = 'foo,bar'

    // The URL of the Limelight web application to which results will be uploaded.
    // It is unlikely you will need to change this.
    limelight_webapp_url = 'https://limelight.yeastrc.org/limelight'

    // The email address to which a notification should be sent upon workflow completion.
    //email = 'your@email.com'

}

profiles {

    // params for running pipeline locally
    standard {
        params.max_memory = '16.GB'
        params.max_cpus = 8
        params.max_time = '240.h'

        params.mzml_cache_directory = '/data/mass_spec/nextflow/nf-teirex-dda/mzml_cache'
        params.panorama_cache_directory = '/data/mass_spec/nextflow/panorama/raw_cache'
    }
}

mail {
    from = 'address@host.com'
    smtp.host = 'smtp.host.com'
    smtp.port = 587
    smtp.user = 'smpt_user'
    smtp.password = 'smtp_password'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = false
    mail.smtp.ssl.protocols = 'TLSv1.2'
}
