// Smoke test: single mzML, YARP-generated decoys, separate mode
params {
    fasta        = 'test-data/test.fasta'
    spectra_dir  = 'test-data/single'
    magnum_conf  = 'test-data/Magnum-no-generate-decoys.conf'

    generate_decoys    = true
    process_separately = true
    limelight_upload   = false
}

profiles {
    standard {
        process.resourceLimits = [ cpus: 2, memory: 4.GB, time: 1.h ]

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}
