// Smoke test: single mzML, YARP-generated decoys, combined mode, PIN column filtering
params {
    fasta        = 'test-data/test.fasta'
    spectra_dir  = 'test-data/single'
    magnum_conf  = 'test-data/Magnum-no-generate-decoys.conf'

    generate_decoys    = true
    process_separately = false
    limelight_upload   = false

    percolator_pin_columns_to_remove = ['PPM']
}

profiles {
    standard {
        params.max_memory = '4.GB'
        params.max_cpus = 2
        params.max_time = '1.h'

        params.mzml_cache_directory = './mzml_cache'
        params.panorama_cache_directory = './raw_cache'
    }
}
